@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
           <div class="d-flex flex-row">
                <li class="nav-item me-3">
                @if (User.IsInRole("Usuario")) {
                    <a id="cart-cont" class="nav-link position-relative"
                       asp-controller="Carrito"
                       asp-action="Index">
                        <i class="bi bi-cart"></i>
                    </a>
                }
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-custom text-dark">Logout</button>
                    </form>
                </li>

           </div>
}
else
{

    <a class="btn btn-outline-custom" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="btn btn-custom" asp-area="Identity" asp-page="/Account/Register">Register</a>

}
</ul>
