<nav>
    <a href="../../pages/homeFlex/homeFlex.html">
        <img src="../../assets/LoveBridge.png" class="logo" href="../../pages/homeFlex/homeFlex.html">
    </a>
    <ul>
        <li>
            <a href="../../pages/homeGrid/homeGrid.html">HomeGrid</a>
        </li>
        <li>
            Producto
        </li>
        <li>
            Precios
        </li>
        <li>
            Clientes
        </li>
    </ul>
    <section>
        <button class="register-button"><span>Empieza Gratis</span></button>
        <button class="login-button">Inicio de sesion</button>
    </section>
</nav>