@import url(../../root.css);
@import url(../../components/header/header.css);
@import url(../../components/nav/nav.css);
@import url(../../components/homeGrid/main/main.css);
@import url(../../components/homeGrid/footer/footer.css);

html{
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


