.header{
    text-align: center;
}
.linkbuttons{
    padding: 3%;
}
h1, h2, h3{
    margin: 1% 0% 0% 0%;
    padding: 0%;
}
h3 {
    font-weight: 100;
}
.empleado_container{
    display: flex
}

.lendings {
    text-align: center;
}

.body-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 10px;
}
.text {
    display: inline-block;
    width: 45%;
    margin: 5px;
    text-align: right;
    margin-right: 2%;
}
.button{
    margin-top: 2%;
    text-align: center;

}
