
main{
    padding: 2%;
    background: url(../img/background.jpg) center/cover fixed;
   
}

.center-block {
    padding: 2em;
    height: 130dvh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: "r1_2_c1_2 r1_2_c1_2 r1_c3 r1_c3 r1_c5"
                        "r1_2_c1_2 r1_2_c1_2 r1_c3 r1_c3 r2_c5"
                        "r3_4_cFull r3_4_cFull r3_4_cFull r3_4_cFull r3_4_cFull"
                        "r3_4_cFull r3_4_cFull r3_4_cFull r3_4_cFull r3_4_cFull"
                        "r5_c1 r5_c2_3 r5_c2_3 r5_c4 r5_c5";
    > * {
        margin: 0.5em 0.5em;
    }
    
}
.r1_2_c1_2 {
    grid-area: r1_2_c1_2;
    font-family: "Montserrat", serif;
    font-weight: 700;
    background-color: var(--text-container-bg);
    
    align-content: center;
    p{
        color:#FE978E;
        text-shadow: 1px 1px 1px #000005;
        font-size: 2em;
        text-align: center;
    }

}
.r1_c3 {
    grid-area: r1_c3;
    /*background-color: #FE978E; */
    background: url(../img/fondos/1.jpg) center/cover;

    background-repeat: no-repeat;
    background-position: fixed;

}

.r1_c5 {
    grid-area: r1_c5;
    background-color:  var(--text-container-bg);
    p {
        font-weight: 600;
        color: #FE978E;
        text-shadow: 1px 1px 1px #000005;
        font-size: 0.9em;
        text-align: center;
    }
}
.r2_c5 {
    grid-area: r2_c5;
    background: url(../img/fondos/2.jpg) center/cover;
    background-repeat: no-repeat;
    background-position: fixed;
    
}

.r3_4_cFull {
    grid-area: r3_4_cFull;
    background-color: var(--text-container-bg);
    display: grid;
    grid-template-columns: 5fr 6fr;

    .middle-cont_r1_2{
        background: url(../img/fondos/3.jpg) center/cover;
        background-repeat: no-repeat;

    }
    .middle-cont_r3_4{
        grid-column: 1fr;
        background-color: var(--text-container-bg);
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr;
        h5 {
            font-size: 1em;
            color: #FE978E;
            text-shadow: 1px 1px rgb(0, 0, 57);
            font-size: 1.5em;
        }
        p{
            font-size: 0.9em;
            font-style: italic;
            color: #6a849f;
            text-shadow: 0.5px 0.5px rgb(0, 0, 0);
        }
    }
    
}
.r5_c1 {
    grid-area: r5_c1;
    background: url(../img/fondos/5.jpg) center/cover no-repeat;
}
.r5_c2_3 {
    grid-area: r5_c2_3;
    background-color: #FE978E;
}
.r5_c4 {
    grid-area: r5_c4;
    background-color: cadetblue;
    background: url(../img/fondos/6.jpg) center/cover no-repeat;
}
.r5_c5 {
    grid-area: r5_c5;
    background-color: chocolate;
}

