body {
    width: 98%;
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    color: #000000;
}
h1 {
    text-align: center;
}
#cabecera {
    width: 100%;
    padding: 0px;
}

#cabecera1 {
    width: 100%;
    padding: 0px;
    background-color: #000000;
    text-align: right;
    color: #ffffff;
}

#cabecera2 {
    width: 100%;
    padding: 0px;
    background-color: #006699;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

#cabecera3 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

#cuerpo {
    width: 100%;
    padding: 0px;
}

#menu {
    float: left;
    width: 12%;
    padding: 8px;
    padding-bottom: 5px;
    border-style: groove;
    border-width: thin;
    border-color: blue;
    /* height: 500px; */
}

#contenido {
    float: right;
    width: 84%;
    padding-bottom: 5px;
}

#pie {
    clear: both;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.contenidotitulo {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.verticalMitad {
    vertical-align: middle;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    margin: 0% 3%;
}
.cont {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea los label y inputs en el centro verticalmente */
    margin-bottom: 10px; /* Espacio entre filas */
}
.cont {
    display: flex;
    flex-direction: column; /* Cambiado para alinear en una columna */
    margin-bottom: 10px; /* Espacio entre filas */
}

.cont label {
    margin-bottom: 5px; /* Añadir espacio entre el label y el input */
}

.cont input,
.cont select {
    padding: 5px;
    width: 100%; /* Hacer que todos los inputs ocupen el 100% del ancho disponible */
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.cont input[type="text"],
.cont select {
    max-width: 300px; /* Ancho máximo de los inputs y selects, puedes ajustarlo según tus necesidades */
}

.prod-mant-buttons{
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: column;

}
.btn {
    margin-top: 2%;
}