.text-pink {
        color: #D86A91;
    }

.border-pink {
    border: 2px solid #D86A91;
}

.btn-custom-inverse {
    background-color: #FFCCD2;
    color: #000;
    border: 2px solid #D86A91;
    transition: all 0.3s ease-in-out;
}

.btn-custom-inverse:hover {
    background-color: #D86A91;
    color: #fff;
}

