body{
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
section {
    padding: 1%;
    background-color: #F5F5F5;
}
/* ESTILO GENERAL DE CADA BOTÓN */
button{
    border-radius: 6px;
    border: 1px #ffffff solid;
    height: 60px;
    margin: 0% 1%;
    width: 170px;
}
/* Estilos de cada botón en particular */
/*PRIMERA FILA*/
section:nth-child(1) > button:first-child{
    background-color: #e800e8;
    color: #ffffff
}
section:nth-child(1) > button:nth-child(2){
    background-color: #ffffff;
    color: #e800e8;
    /* Para crear un borde con la parte superior e izquierda mas gruesa que
    la parte de la derecha e inferior.*/
    border: 2px solid #e800e8;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
section:nth-child(1) > button:last-child{
    color: #e800e8;
    background-color: #F5F5F5;
    border: 0px;
}
/*SEGUNDA FILA*/
section:nth-child(2) > button:first-child{
    background-color: #8b008b;
    color: #ffffff
}
section:nth-child(2) > button:nth-child(2){
    background-color: #ffffff;
    color: #8b008b;
    /* Para crear un borde con la parte superior e izquierda mas gruesa que
    la parte de la derecha e inferior.*/
    border: 2px solid #8b008b;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
section:nth-child(2) > button:last-child{
    color: #8b008b;
    background-color: #F5F5F5;
    border: 0px;
}
/*TERCERA FILA*/
section:nth-child(3) > button:first-child{
    background-color: #310047;
    color: #ffffff
}
section:nth-child(3) > button:nth-child(2){
    background-color: #ffffff;
    color: #310047;
    /* Para crear un borde con la parte superior e izquierda mas gruesa que
    la parte de la derecha e inferior.*/
    border: 2px solid #310047;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
section:nth-child(3) > button:last-child{
    color: #310047;
    background-color: #F5F5F5;
    border: 0px;
}