:root{
    --first-color : #FE978E;
    --second-color: #4d6066;
    --nav-foot-color : #324C65;
    --font-color: #fff9f9;
    --text-shadow: #000005;
    --text-container-bg : #fff9f976;
    --text-shadow-first-color: 0.06em 0.06em 0.06em #000005;
    --background-main-img : url("/assets/background.jpg");
}