@import url(header/header.css);
@import url(nav/nav.css);
@import url(main/main.css);
@import url(footer/footer.css);

html{
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

:root {
    --opacity : 0;
    --text-container-bg : #fff9f976
}



