body {
    padding: 1em;
    text-align: center;
}
.main-cont {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 10px;
    height: 70vh;
    header {
        background-color: #d0fff8;
    }
    nav {
        background-color: #f9e0e0
    }
    .content {
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,1fr);
        
        section {
            background-color: #feffda;
            grid-row: 1;
            grid-column: 1 / 4;
        }
        article {
            background-color: #d7deed;
            grid-row: 2;
            grid-column: 1 / 4;
        }
        aside {
            background-color: #f1d5c1;
            grid-row: 1 / 3;
            grid-column: 4;
        }

    }
    footer {
        background-color: #deffa0;
    }
}
@media (max-width: 780px ){

        section {
            grid-row: 1 / 1;
            grid-column: 1 / span 2;
        }
        article {
            grid-row: 2 / 2;
            grid-column: 1 / span 2;
        }
        aside {
            display: none;
        }
    
}
@media (max-width: 420px) {
    section {
        grid-row: 1;
        grid-column: 1 / 5 !important;
    }

    article {
        grid-row: 2;
        grid-column: 1 / 5 !important;
    }

    aside {
        grid-row: 3 !important;
        grid-column: 1 / 5 !important;
        display: block;
    }
}
